body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    color: white;
    font-family: 'Helvetica', 'sans-serif';
    background-color: #222;
    -webkit-tap-highlight-color: transparent;
}

p {
    margin-top: 0;
}

main, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
}

#resultat {
    margin: 3rem 0 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#handlinger {
    margin-top: 2rem;
    display: flex;
    align-items: center;
}

#passord {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    font-family: monospace;
    font-size: 1.625rem;
    padding: 0.5rem 1.75rem;
    background-color: darkseagreen;
}

.knapp {
    border: none;
    background: none;
    padding: 1rem;
    background-color: wheat;
    display: flex;
    align-items: center;
    height: 3rem;
    text-align: left;
}

#passord, .knapp {
    box-shadow: 0.5rem 0.5rem 0 black;
    border-radius: 0.5rem;
}

.knapp span {
    font-size: 1rem;
}

.knapp > *:not(:first-child) {
    margin-left: 1rem;
}

.knapp:not(:first-child) {
    margin-left: 1rem;
}

.knapp:hover {
    cursor: pointer;
    background-color: beige;
}

.knapp:focus {
    outline: none;
}

.knapp:active {
    box-shadow: 0.375rem 0.375rem 0 black;
    transform: translate3d(0.125rem, 0.125rem, 0);
}

a {
    color: white;
}

a:hover {
    text-decoration: none;
}

footer {
    color: gray;
}

footer p {
    margin-top: 0;
}

@media (min-width: 50rem) {
    main, footer {
        margin: 0 2rem;
    }

    body {
        font-size: 1.25rem;
    }

    #passord {
        font-size: 2rem;
    }
}