body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    text-align: center;

    color: white;
    font-family: 'Helvetica', 'sans-serif';
    background-color: #222;
}

p {
    margin-top: 0;
}

main, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
}

output {
    color: black;
    background-color: darkseagreen;
    font-family: monospace;
    font-size: 1.625rem;
    padding: 1rem 1.75rem;
    margin: 3rem 0 5rem;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.5rem 0 black;
}

a {
    color: white;
}

a:hover {
    text-decoration: none;
}

footer {
    color: gray;
}

footer p {
    margin-top: 0;
}

@media (min-width: 50rem) {
    main, footer {
        margin: 0 2rem;
    }

    body {
        font-size: 1.25rem;
    }

    output {
        font-size: 2rem;
    }
}